<p id="notice"><%= notice %></p>

<p>
  <strong>Maicroposts_user_id:</strong>
  <%= @user.microposts.first.user.id %>
</p>

<p>
  <strong>User_id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Maicroposts.content:</strong>
  <%= @user.microposts.first.content %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
